<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="./dist/taiwan-vue-components.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        #app{
            margin-top: 100px;
        }
        svg{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <Country :stroke="stroke" :scale="scale" :width="width" :height="height" :lon="lon" :lat="lat" :fill="fill"></Country>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">寬度</span>
                    <input type="text" class="form-control" v-model="width" />
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">高度</span>
                    <input type="text" class="form-control" v-model="height" />
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">經度</span>
                    <input type="text" class="form-control" v-model="lon" />
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">緯度</span>
                    <input type="text" class="form-control" v-model="lat" />
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">線條顏色</span>
                    <input type="text" class="form-control" v-model="stroke"/>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">區塊顏色</span>
                    <input type="text" class="form-control" v-model="fill" />
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">放大倍率</span>
                    <input type="text" class="form-control" v-model="scale" />
                </div>
            </div>
        </div>
    </div>
    <script>
    
        var app = new Vue({
            el: '#app',
            data: {
                width: 800,
                height: 800,
                lon: 120.751864,
                lat: 23.400998,
                stroke: '#000000',
                fill: '#FFFFFF',
                scale: '7800'
            }
        })

    </script>
</body>
</html>